*
!/.github/
!/.github/scripts/
!/.github/scripts/*.ts
!/.github/util/
!/.github/util/*.ts
!/.github/workflows/
!/.github/workflows/*.yml
!/.vscode/
!/.vscode/extensions.json
!/.vscode/settings.json
!/.gitignore
!/lib/
!/lib/**/*.ts
!/tests/
!/tests/**/*.ts
!/LICENSE
!/README.md
